window#waybar, tooltip {
    background: alpha(@base00, 1.000000);
}

* {
    font-family: "Creeper";
    font-size: 10pt;
}

@define-color base00 #1c1c1c; @define-color base01 #262626;
@define-color base02 #626262; @define-color base03 #878787;
@define-color base04 #dfdfaf; @define-color base05 #dfdfaf;
@define-color base06 #dfdfaf; @define-color base07 #dfdfaf;

@define-color base08 #af5f5f; @define-color base09 #af875f;
@define-color base0A #af875f; @define-color base0B #87875f;
@define-color base0C #87afaf; @define-color base0D #878787;
@define-color base0E #af8787; @define-color base0F #87afaf;

window#waybar, tooltip {
    color: @base05;
}

tooltip {
    border-color: @base0D;
}

tooltip label {
    color: @base05;
}
#wireplumber,
#pulseaudio,
#sndio {
  padding: 0 5px;
}
#wireplumber.muted,
#pulseaudio.muted,
#sndio.muted {
  padding: 0 5px;
}
#upower,
#battery {
  padding: 0 5px;
}
#upower.charging,
#battery.Charging {
  padding: 0 5px;
}
#network {
  padding: 0 5px;
}
#network.disconnected {
  padding: 0 5px;
}
#user {
  padding: 0 5px;
}
#clock {
  padding: 0 5px;
}
#backlight {
  padding: 0 5px;
}
#cpu {
  padding: 0 5px;
}
#disk {
  padding: 0 5px;
}
#idle_inhibitor {
  padding: 0 5px;
}
#temperature {
  padding: 0 5px;
}
#mpd {
  padding: 0 5px;
}
#language {
  padding: 0 5px;
}
#keyboard-state {
  padding: 0 5px;
}
#memory {
  padding: 0 5px;
}
#window {
  padding: 0 5px;
}
#bluetooth {
  padding: 0 5px;
}
#bluetooth.disabled {
  padding: 0 5px;
}
.modules-left #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-left #workspaces button.focused,
.modules-left #workspaces button.active {
    border-bottom: 3px solid transparent;
}
.modules-center #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-center #workspaces button.focused,
.modules-center #workspaces button.active {
    border-bottom: 3px solid transparent;
}
.modules-right #workspaces button {
    border-bottom: 3px solid transparent;
}
.modules-right #workspaces button.focused,
.modules-right #workspaces button.active {
    border-bottom: 3px solid transparent;
}
